.button {
  background-color: $button-background-color;
  color: $button-font-color;
  padding: 1em 2em 1em;
  margin: 0.5em;
  display: inline-block;
  text-decoration: none;

  &__inactive {
    color: $button-inactive-font-color;
  }

  &__idle {
    background-color: $warning-color;
  }
}
